#OasDocs h1, #OasDocs h2, #OasDocs h3, #OasDocs h4 {
    color: #204d74;
}
#OasDocs h1 {
    padding: 10px 20px 10px 20px;
}
#OasDocs #docsLeft {
    overflow-x: auto;
    padding: 10px 10px 10px 30px;
}
#OasDocs #docsLeft nav ol {
    padding-left: 20px;
}
#OasDocs #docsLeft nav.table-of-contents li.active a {
    text-decoration: underline;
    font-weight: bold;
}
#OasDocs #docsRight {
    overflow-x: auto;
    padding: 10px 30px 10px 10px;
}
#OasDocs #docsRight h3 {
    margin-top: 0px;
}
#OasDocs #docsRight h4 {
    margin-top: 30px;
}
#OasDocs #docsRight h4:first-of-type {
    margin-top: 10px;
}
#OasDocs dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #6996BC;
    border-width: 1px 1px 1px 1px;
}
#OasDocs dt {
    flex-basis: 20%;
    padding: 5px 10px;
    text-align: right;
    color: #204d74;
}
#OasDocs dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 5px 10px;
    border-left: 1px solid #6996BC;
}